* {
    font-size: 105%;
    font-family: Verdana, sans-serif;
    background-color: #3344ff;

}
ul {
    list-style-type: none;
}
h1 {
    font-family: 'Bigelow Rules', cursive;
    font-size: 80px;

}


h2+ul>li>span {
    font-family: 'Bigelow Rules', cursive;
    font-size:50px;
    font-weight: bold;
    background-color: transparent;
    padding: 5px 20px 5px 20px;
    text-shadow: 3px 3px 3px #fff;
}
h2+ul>li>ul>li>span {
    background-color: transparent;
    font-size: 40px;
    color: #fff;
    text-shadow: 3px 3px 10px #000;
}
h2+ul>li>ul>li {
    background-color: #aa22aa;
    font-size: 40px;
    color: #fff;
    text-shadow: 3px 3px 10px #000;
}
h2+ul>li>ul>li:hover,h2+ul>li>ul>li>span:hover {
   background-color: darkred;
}
img{
    box-shadow: 5px 5px 8px #270502;
    margin-left: 20px;
}
ol>li{
    background-color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    color: black;
}