* {
    font-size: 110%;
}
h1+ul>li {
    background-color: #3344ff;
}
h1+ul>ul>li {
    background-color: #aa22aa;
}
h1+ul>ul>li:hover {
   background-color: darkred;
}
h1+ul>ul>img{
    display: none;
}